/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  place-content: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.content-center {
  justify-content: center;
}

.items-center {
  justify-items: center;
}

.w-50 {
  min-width: 700px;
}
